<html>
<head>
    <%- include('partials/icon.ejs') %>
    <link type="text/css" rel="stylesheet" href="./stylesheets/style.css">
    <%- include('partials/icon.ejs'); %>
    <meta charset="UTF-8">
    <title>Empresas - Amantes de Coches</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>
<body>

<header>
    <%- include('partials/navbar'); %>
</header>
<h3 style="text-align: center"><%= title %></h3>
<% marcas.forEach(function(marca) { %>
    <section class="base">
        <div class="card-base">
            <div class="img-buttons-base">
                <div class="buttons">
                    <img data-modelo-id="<%= marca._id %>" class="buttonModify"
                         src="https://cdn-icons-png.flaticon.com/128/5199/5199989.png"
                         alt="icon of edit">
                    <img button data-modelo-id="<%= marca._id %>" class="buttonDelete"
                         src="https://cdn-icons-png.flaticon.com/128/7560/7560086.png"
                         alt="icon of remove">
                </div>
                <div class="img">
                    <img src="<%= marca.imagen %>"
                         alt="Car of card">
                </div>
            </div>

            <div class="attribute-base">
                <div class="attribute-head">
                    <div>
                        <h4>Nombre</h4>
                        <p><%= marca.nombre %></p>
                    </div>
                    <div>
                        <h4>Fundador</h4>
                        <p><%= marca.fundador %></p>
                    </div>
                    <div>
                        <h4>Fundación</h4>
                        <p><%= marca.fundacion %></p>
                    </div>
                </div>
                <div class="attribute-type">
                    <h4>Tipo</h4>
                    <p><%= marca.tipo %></p>
                </div>
            </div>
        </div>
    </section>
<% }) %>
<div class="card-add">
    <a href="/marcas/new">+</a>
</div>
<script>
    async function delete_item(evt) {
        console.log('delete item')
        // evt.preventDefault()
        let id = ($(this).data('modelo-id'));
        try {
            const ok = confirm("Estas seguro que quieres borrarlo?")
            if (ok){
                const response = await fetch('http://localhost:3000/marcas/' + id, {
                    method: 'DELETE'
                });
                window.location.reload();
            } else {
                console.log("Operación DELETE cancelada")
            }
        } catch (error) {
            console.error("Error:", error);
        }
    }

    $(document).ready(() => {
        $('.buttonDelete').click(delete_item)
        $('.buttonModify').click(function (){
            let id = ($(this).data('modelo-id'));
            window.location.replace('http://localhost:3000/marcas/update/' + id)
        })
    });
</script>
</body>
</html>